@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/WEB/CerebriSans-Light.eot);
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/TTF/CerebriSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/WEB/CerebriSans-Regular.eot);
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/TTF/CerebriSans-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/WEB/CerebriSans-Bold.eot);
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/TTF/CerebriSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}


html {
  background:  url('../images/separator--left-rounded.png') no-repeat left 0 bottom 236px;  
}
body {
  position: relative;
  padding-top: 100px;
  background:  url('../images/separator--right-rounded.png') no-repeat right 360px;  
}

body * {
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 34px;
  color: #252759;
  line-height: 48px;
  margin: 0;
}

h2 {
  color: #655194;
  font-size: 34px;
  margin: 0;
  padding: 0 0 24px;
  line-height: 48px;
  font-weight: 900;
}

a {
  color: #9C5D97;
  text-decoration: underline
}

a:hover {
  text-decoration: none;
}

p {
  font-family: 'PT Mono', monospace;
  margin: 24px 0;
  color: #9C5D97;
  font-size: 18px;
  line-height: 28px;
  font-family: 'PT Mono', monospace;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.block {
  display: block;
}

.content {
  max-width: 1160px;
  margin: 0 auto;
}

.headroom--unpinned,
.headroom--not-top {
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  background: rgba(255, 255, 255, 0.97)
}

.content-inner {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background: #fff;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
}

.header-inner {
  padding: 35px;
  position: relative;
}

header img {
  position: absolute;
  left: 0;
  top: 35px;
  height: 48px;
}

header ul {
  list-style: none;
  margin: 0;
  text-align: center;
  padding: 0;
}

header li {
  display: inline-block;
}

header li a {
  font-size: 14px;
  line-height: 48px;
  font-weight: 500;
  padding: 0 12px;
  color: #132C64;
  text-decoration: none;
}

header .cta {
  color: #9C5D97;
  border: 1px solid #9C5D97;
  font-weight: 500;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
  display: block;
  position: absolute;
  line-height: 34px;
  right: 0;
  top: 35px;
  padding: 0 20px;
}

.banner-wrapper {
  padding: 0 0 50px;
  text-align: center;
  margin: 0 auto;
}

.banner {
  display: inline-block;
  background: #fdf5e7;
  border-radius: 25px;
}

.banner a {
  color: #9C5D97;
  font-size: 12px;
  text-decoration: none;
  font-weight: 200;
}

.banner a:hover {
  text-decoration: underline;
}

.banner strong {
  border-radius: 25px;
  background: #252759;
  color: #fff;
  display: inline-block;
  padding: 4px 8px;
  font-weight: 500;
  line-height: 26px;
  margin: 2px;
  font-size: 12px
}

.banner span {
  line-height: 30px;
}

.banner img {
  line-height: 30px;
  margin: 0 16px 0;
}

.section--primary {
  margin: 80px auto;
}

.section--secondary {
  margin: 0 auto;
}

.section-header .emoji {
  font-size: 34px;
  line-height: 48px;
}

.section-header h2 {
  font-size: 74px;
  line-height: 100px;
  color: #252759;
  font-weight: 400;
}

.section-header h3 {
  font-size: 18px;
  line-height: 26px;
  color: #655194;
  max-width: 750px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin: 15px auto;
}

.section-header p {
  margin: 40px auto;
}

.mission__image {
  margin-top: 115px;
}

.mission__list-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mission__list-item {
  margin: 0;
  padding: 24px;
  background-color: #fff;
  border-radius: 4px;
  transition:  background-color 200ms ease;
}

.mission__list-item:hover {
  background-color: #edeff3;
}
.mission__list-item h3 {
  margin: 0 0 20px; 
  font-size: 34px;
  line-height: 46px;
  font-weight: 900;
  color: #252759;
}

.mission__list-item p {
  margin: 0;
}

.section-separator {
  margin: 80px 0;
  width: 100%;
}

.section-separator--left {
  background: url('../images/separator--left.png') no-repeat 0 0;
  height: 105px;
}

.section-separator--left-secondary {
  background: url('../images/separator--left-secondary.png') no-repeat 0 0;
  height: 105px;
}

.section-separator--right {
  background: url('../images/separator--right.png') no-repeat right 0;
  height: 105px;
}

.teacher {
  padding: 24px 0;
  position: relative;
}

.teacher h3 {
  font-size: 34px;
  font-weight: 900;
  color: #252759;
  line-height: 48px;
  margin: 0;
  padding: 0;
}

.teacher-description {
  padding: 0 0 0 24px;
}

.teacher-photo {
  background: #d9dde6;
  max-width: 250px;
  margin-bottom: 40px;
  border-radius: 0 50% 50% 0;
}

.teacher img {
  border-radius: 0 50% 50% 0;
  margin: 0;
  position: relative;
  top: 24px;
  max-width: 250px;
  left: 24px;
}

.teacher h4 {
  color: #655194;
  font-weight: 900;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

.teacher--middle img {
  border-radius: 50% 0 0 50%;
}

.teacher--middle .teacher-photo {
  border-radius: 50% 0 0 50%;
}

.teacher--middle img {
  right: 24px;
  left: auto;
}

.teacher--middle .teacher-description {
  padding: 0 24px 0 0;
}

.program-day {
  margin-top: 30px;
}

.program-day h3 {
  font-size: 34px;
  font-weight: 900;
  line-height: 48px;
  margin: 8px 0;
  color: #252759;
}

.program-day h4 {
  color: #655194;
  font-size: 18px;
  line-height: 25px;
  font-weight: 900;
}

.program-day ul {
  margin: 25px 0 0;
  padding: 0;
}

.program-day li {
  margin: 0;
  padding: 0;
  color: #9C5D97;
  font-size: 18px;
  list-style: none;
}

.program-day li::before {
  color: #655194;  
  content: "\2022"; 
  font-size: 18px; 
  font-weight: 900;
  padding-right: 10px; 
  position: relative;
  top: 0em; 
}

.quote {
  margin: 60px 0;
}

.quote-description {
  margin-top: 50px;
}

.quote-description strong {
  color: #655194;
  font-weight: 900;
  margin-top: 16px;
  display: block;
}