@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/WEB/CerebriSans-Light.eot);
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/TTF/CerebriSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/WEB/CerebriSans-Regular.eot);
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/TTF/CerebriSans-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/WEB/CerebriSans-Bold.eot);
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/TTF/CerebriSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

body {
  background: #fff;
  position: relative;
}

body * {
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 34px;
  color: #252759;
  line-height: 48px;
  margin: 0;
}

h2 {
  color: #655194;
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 48px;
  font-weight: 900;
}

p {
  font-family: 'PT Mono', monospace;
  margin: 24px 0;
  color: #9C5D97;
  font-size: 18px;
  line-height: 28px;
  font-family: 'PT Mono', monospace;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.block {
  display: block;
}

.content {
  max-width: 1160px;
  margin: 0 auto;
}

.content-inner {
  max-width: 750px;
  margin: 0 auto;
}

header {
  padding: 35px;
  position: relative;
}

header img {
  position: absolute;
  left: 0;
  top: 35px;
  height: 48px;
}

header ul {
  list-style: none;
  margin: 0;
  text-align: center;
  padding: 0;
}

header li {
  display: inline-block;
}

header li a {
  font-size: 14px;
  line-height: 48px;
  font-weight: 500;
  padding: 0 12px;
  color: #132C64;
}

header .cta {
  color: #9C5D97;
  border: 1px solid #9C5D97;
  font-weight: 500;
  border-radius: 25px;
  font-size: 14px;
  display: block;
  position: absolute;
  line-height: 34px;
  right: 0;
  top: 35px;
  padding: 0 20px;
}

.banner-wrapper {
  padding: 50px 0;
  text-align: center;
  margin: 0 auto;
}

.banner {
  display: inline-block;
  background: #fdf5e7;
  border-radius: 25px;
}

.banner a {
  color: #9C5D97;
  font-size: 12px;
  font-weight: 200;
}

.banner a:hover {
  text-decoration: none;
}

.banner strong {
  border-radius: 25px;
  background: #252759;
  color: #fff;
  display: inline-block;
  padding: 4px 8px;
  font-weight: 500;
  line-height: 26px;
  margin: 2px;
  font-size: 12px
}

.banner span {
  line-height: 30px;
}

.banner img {
  line-height: 30px;
  margin: 0 16px 0;
}

.section--secondary {
  margin: 120px auto;
}

.section-header .emoji {
  font-size: 34px;
  line-height: 48px;
}

.section-header h2 {
  font-size: 74px;
  line-height: 100px;
  color: #252759;
  font-weight: 400;
}

.section-header h3 {
  font-size: 18px;
  line-height: 26px;
  color: #655194;
  font-weight: 900;
  text-transform: uppercase;
  margin: 15px 0;
}

.section-header p {
  margin: 40px auto;
}